#ie-warn
	.container
		.items.font28.pd
			h2 您的浏览器太旧了，无法支持我们的很多功能。
			p 请使用现代浏览器访问我们的网站
			p.pdtb.borderb
				i.browser.iblock.ie6 Internet Explorer
				i.color-red.iblock.mgl &times;
			p.pdtb.borderb
				i.browser.iblock.opera Opera
				i.color-green.iblock.mgl &radic;
				br
				a.btn.btn-b.mgt(href='http://www.opera.com/') 到官网下载
			p.pdtb.borderb
				i.browser.iblock.chrome Chrome
				i.color-green.iblock.mgl &radic;
				br
				a.btn.btn-b.mgt(href='http://www.google.cn/intl/zh-CN/chrome/') 到官网下载
			p.pdtb
				i.browser.iblock.firefox Firefox
				i.color-green.iblock.mgl &radic;
				br
				a.btn.btn-b.mgt(href='http://www.firefox.com/') 到官网下载
