include ../ng-parts/head1
title 404 - #{siteName}
style.
	[ng-cloak] {
		display: block;
	}
include ../ng-parts/head2
#wrapper
	.container
		.pd
			.jumbotron
				h1 404
				p page not exist

	include ../ng-parts/footer-html
include ../ng-parts/footer-end